log/*.log
log/*.pid
db/*.db
db/*.sqlite3
db/development_structure.sql
tmp/\*\*/\*
.DS_Store
doc/api
doc/app
config/database.yml
config/*.sphinx.conf
/public/javascripts/cache/
/public/stylesheets/cache/
*.swp
/db/sphinx
tmp/*
public/system/
public/assets/
.idea/
*.iml
Thumbs.db

# Ignore bundler config.
/.bundle
/h = {}
