<%if @domains.present?%>
<table border="4">
	<tr>
		<th> Domain ID </th>
		<th> Domain Name </th>
		<th> Domain Manager </th>
		<th></th>
	</tr>
	<% @domains.each do |domain|%>
	<tr>
		<td> <%= domain.id %> </td>
		<td> <%= link_to domain.name,domain%> </td>
		<td> <%= domain.lead_name %> </td>
		<td> <%= link_to  "Edit",edit_domain_path(domain) %> </td>
	<tr>
	<%end%>
</table>
<%else%>
	Oops! there is no domain! 
<%end%>



