<div id="posts">



<div class="post"><%= link_to "Add Domain", new_domain_path %></div>
<% @domains.each do |domain|%>
	<div class="post"> 
		<h2 class="title"><%= link_to domain.name,domain%></h2>
		
		<p class="published_date"><b>Manager : </b><%= domain.lead.try(:email) %></p>
		
	</div>
<%end%>
</div>