<div id="posts">
<% @locations.each do |location|%>
	<div class="post"> 
		<h2 class="title">Location Name : <%= link_to location.name,location%></h2>
		<p class="published_date">Manager : <%= location.manager.try(:name) %></p>
		<p class="published_date">Helpline Number : <%= location.helpline_number %></p>
	</div>
<%end%>
</div>