<div id="post_content">
	<h1>Location Name :  <%= @location.name%></h1> 
	<p> Location Manager : <%= @location.manager.try(:name)%> </p>
</div>
<br/>
<hr/>
<br/>
<%= link_to  "Edit",edit_location_path(@location), :class => "button"%>
<%= link_to  "Delete",location_path(@location), method: :delete, data: { confirm: "Are you sure you want to do this?" },:class => "button"%>

